body {
	background-color: gray;
}

h1 {
	color: white;
	text-align: center;
}

h2 {
	color: white;
	text-align: center;
}

p {
	color: white;
	margin: 25px;
}

.carousel {
	width:60%;
	display:inline-block;
	margin: 0 auto;

}

.carousel img {
	max-width:100%;
	max-height:100%;
}

.invis {
	display:none;
}

.bout {
	display:inline-block;
	width: 50px;
	height:500px;
	margin: auto;
	background-size:contain;
	background-repeat: no-repeat;
}

#next {
	background-image:url("../img/next.png");
}

#prev {
	background-image:url("../img/prev.png");
}